server:
  port: 8888
spring:
  application:
    name: ead-config-server
  cloud:
    config:
      server:
        git:
          uri: https://github.com/YanVelasco/ead-config-server-repo
          username: YanVelasco
          password: ${TOKEN_GITHUB}
ead:
  serviceRegistry:
    username: service-registry
    password: 'ead123sr'
eureka:
  client:
    serviceUrl:
      defaultZone: 'http://${ead.serviceRegistry.username}:${ead.serviceRegistry.password}@localhost:8761/eureka'
  instance:
    hostname: localhost