server:
  port: 8888

spring:
  application:
    name: ead-config-server
  cloud:
    config:
      server:
        git:
          uri: https://github.com/YanVelasco/ead-config-server-repo
          username: YanVelasco
          password: ${TOKEN_GITHUB}

ead:
  configServer:
    username: ${EAD_CONFIGSERVER_USERNAME:config-server}
    password: ${EAD_CONFIGSERVER_PASSWORD:ead123cs}
  serviceRegistry:
    username: ${EAD_SERVICEREGISTRY_USERNAME:service-registry}
    password: ${EAD_SERVICEREGISTRY_PASSWORD:ead123sr}

eureka:
  client:
    serviceUrl:
      defaultZone: 'http://${ead.serviceRegistry.username}:${ead.serviceRegistry.password}@localhost:8761/eureka'
  instance:
    hostname: localhost

management:
  endpoints:
    web:
      exposure:
        include: health,info,refresh
  endpoint:
    health:
      show-details: always

logging:
  level:
    org.springframework.cloud.config.server: INFO
    com.ead: INFO
